/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif; }

/*GENERAL*/
body {
  margin: 0;
  padding: 0;
  background-color: #edeec9;
  align-items: center; }
  body header {
    background-color: #A3B18A;
    margin-bottom: 20px; }
  body main h1 {
    margin-top: 30px;
    text-align: center; }
  body footer {
    margin-top: 80px;
    margin-bottom: 5px;
    margin-left: 5px;
    text-align: center;
    font-size: 10px;
    bottom: 0; }

/*INDEX*/
main .slide {
  transition: 2s; }
  main .slide div .carousel-item {
    width: 1200px;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 80px;
    justify-content: center;
    object-fit: cover; }

main p {
  margin: 10px 35px;
  text-align: justify; }

main h2 {
  margin-top: 50px;
  text-align: center; }

main .box-imagen {
  display: flex;
  justify-content: center; }

main .casa {
  width: 400px;
  height: 300px;
  object-fit: cover;
  margin-top: 3%;
  margin-bottom: 0;
  margin-left: 3%;
  margin-right: 3%;
  cursor: pointer;
  display: flex; }

main .casa:hover {
  transform: scale(1.05);
  transition: 0.3s;
  box-shadow: 0px 13px 30px -3px #3d3c3c; }

main .box-texto {
  margin-top: -4%;
  margin-right: 1%;
  margin-left: 2%;
  text-align: center;
  display: flex;
  justify-content: space-around; }
  main .box-texto h3 {
    margin-top: 70px;
    margin-bottom: 30px;
    text-align: center; }
    main .box-texto h3 .opciones {
      margin-left: 10%; }
    main .box-texto h3 .opciones2 {
      margin-left: 3%; }

/*SOBRE NOSOTROS*/
div .container {
  display: grid;
  grid-template-columns: repeat(2 0.5fr);
  grid-template-rows: repeat(2 1fr);
  justify-content: center;
  align-items: center;
  grid-template-areas: "main-sn box-imagen" "main-sn box-imagen"; }

div main {
  background-color: red;
  width: 50%;
  margin-left: 0;
  margin-right: 0; }
  div main .main-sn {
    grid-area: main-sn; }
  div main .sobren {
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
    align-items: center; }
  div main #parrafo1 {
    margin-top: 60px; }
  div main #ultimo {
    margin-top: 10px; }

div section {
  margin: 0;
  width: 50%;
  background-color: blue; }
  div section .box-imagen {
    grid-area: box-imagen; }
  div section .casa2 {
    width: 400px;
    height: 500px;
    top: 30px;
    left: 50px;
    right: 50px; }

/*DESTINOS*/
div .container2 {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: auto auto;
  justify-content: center;
  grid-template-areas: "main-titulo main-titulo" "section-uno section-dos" "section-tres section-cuatro" "footer footer";
  gap: 10px; }
  div .container2 main .main-titulo {
    grid-area: main-titulo; }
  div .container2 section .destino {
    width: 330px;
    height: 270px;
    margin: 15px; }
  div .container2 section .section-uno {
    grid-area: section-uno; }
  div .container2 section .section-dos {
    grid-area: section-dos; }
  div .container2 section .section-tres {
    grid-area: section-tres; }
  div .container2 section .section-cuatro {
    grid-area: section-cuatro; }
  div .container2 section .destino-img {
    width: 330px;
    height: 270px;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
  div .container2 section .destino-img:hover {
    transform: scale(1.05);
    transition: 0.1s;
    box-shadow: 0px 10px 30px -1px #3d3c3c; }
  div .container2 section h2 .subtitulo {
    margin-top: 1%;
    text-align: center;
    font-size: 24px; }
  div .container2 footer {
    grid-area: footer; }

/*PROMOCIONES*/
main .promociones img {
  width: 800px;
  height: 250px;
  object-fit: cover; }
  main .promociones img .casa5 {
    margin-top: 2%;
    margin-left: 20%;
    margin-bottom: 5%;
    cursor: pointer;
    transition: .5s; }
  main .promociones img .casa5:hover {
    transform: scale(1.02);
    box-shadow: 0px 15px 30px -3px #3d3c3c; }
