/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif; }

/*GENERAL*/
body {
  margin: 0;
  padding: 0;
  background-color: #edeec9;
  align-items: center; }
  body header {
    background-color: #A3B18A; }
  body main h1 {
    margin-top: 30px;
    text-align: center; }
  body footer {
    margin-top: 80px;
    margin-bottom: 5px;
    margin-left: 5px;
    text-align: center;
    font-size: 10px;
    bottom: 0; }

/*INDEX*/
main .slide {
  transition: 2s; }
  main .slide div .carousel-item {
    width: 1200px;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 80px;
    justify-content: center;
    object-fit: cover; }

main .parrafo-home {
  margin: 10px 35px;
  text-align: justify; }

main .subtitulo-home {
  margin-top: 50px;
  text-align: center; }

main .box-imagen {
  display: flex;
  justify-content: center; }

main .casa {
  width: 400px;
  height: 300px;
  object-fit: cover;
  margin-top: 3%;
  margin-bottom: 0;
  margin-left: 3%;
  margin-right: 3%;
  cursor: pointer;
  display: flex; }

main .casa:hover {
  transform: scale(1.05);
  transition: 0.3s;
  box-shadow: 0px 13px 30px -3px #3d3c3c; }

main .box-texto {
  margin-top: -4%;
  margin-right: 1%;
  margin-left: 2%;
  text-align: center;
  display: flex;
  justify-content: space-around; }
  main .box-texto h3 {
    margin-top: 70px;
    margin-bottom: 30px;
    text-align: center; }
    main .box-texto h3 .opciones {
      margin-left: 10%; }
    main .box-texto h3 .opciones2 {
      margin-left: 3%; }

/*SOBRE NOSOTROS*/
.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
  align-items: center;
  grid-template-areas: "main-sn box-imagen" "main-sn box-imagen";
  gap: 10px; }

main {
  margin-left: 0;
  margin-right: 20px; }
  main .main-sn {
    grid-area: main-sn; }
  main .sobren {
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
    text-align: justify; }
  main #parrafo1 {
    margin-top: 40px; }
  main #ultimo {
    margin-top: -5px; }

section {
  margin: 0; }
  section .box-imagen {
    grid-area: box-imagen; }
  section .casa2 {
    width: 65%;
    height: 70%;
    position: relative;
    top: 50px;
    left: 20px;
    right: 20px; }

/*DESTINOS*/
.container2 {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: auto auto;
  justify-content: center;
  grid-template-areas: "main-titulo main-titulo" "section-uno section-dos" "section-tres section-cuatro";
  gap: 10px; }

main {
  justify-content: center;
  align-items: center;
  text-align: center; }
  main .main-titulo {
    width: 100%;
    margin-left: 50px;
    grid-area: main-titulo; }

section.destino {
  width: 330px;
  height: 270px;
  margin: 15px; }

.section-uno {
  grid-area: section-uno; }

.section-dos {
  grid-area: section-dos; }

.section-tres {
  grid-area: section-tres; }

.section-cuatro {
  grid-area: section-cuatro; }

.destino-img {
  width: 330px;
  height: 270px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  .destino-img:hover {
    transform: scale(1.05);
    transition: 0.1s;
    box-shadow: 0px 10px 30px -1px #3d3c3c; }
  .destino-img .footer-destino {
    grid-area: footer; }

/*PROMOCIONES*/
main .promociones img {
  width: 800px;
  height: 250px;
  object-fit: cover; }
  main .promociones img .casa5 {
    margin-top: 2%;
    margin-left: 20%;
    margin-bottom: 5%;
    cursor: pointer;
    transition: .5s; }
  main .promociones img .casa5:hover {
    transform: scale(1.02);
    box-shadow: 0px 15px 30px -3px #3d3c3c; }
