/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif; }

/*GENERAL*/
body {
  margin: 0;
  padding: 0;
  background-color: #edeec9;
  align-items: center; }
  body header {
    background-color: #A3B18A; }
    body header .logo {
      width: 13%; }
  body main h1 {
    margin-top: 30px;
    text-align: center; }
  body footer {
    margin-top: 80px;
    margin-bottom: 5px;
    margin-left: 5px;
    text-align: center;
    font-size: 10px;
    bottom: 0; }

/*INDEX*/
main .slide {
  transition: 2s; }
  main .slide div .carousel-item {
    width: 1200px;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 80px;
    justify-content: center;
    object-fit: cover; }

main .parrafo-home {
  margin: 10px 35px;
  text-align: justify; }

main .subtitulo-home {
  margin-top: 50px;
  text-align: center; }

main .card {
  background-color: #edeec9;
  display: inline-flex;
  margin-left: 10px; }

main .card:hover {
  transform: scale(1.05);
  transition: 0.3s;
  border: #A3B18A;
  box-shadow: 0px 13px 30px -3px #3d3c3c; }

main .box-imagen {
  display: flex;
  justify-content: center; }

main .casa {
  width: 17rem;
  height: 300px;
  object-fit: cover;
  margin-top: 3%;
  margin-bottom: 0;
  margin-left: 3%;
  margin-right: 3%;
  cursor: pointer;
  display: flex; }

main .box-texto {
  margin-top: -4%;
  margin-right: 1%;
  margin-left: 2%;
  text-align: center;
  display: flex;
  justify-content: space-around; }
  main .box-texto h3 {
    margin-top: 70px;
    margin-bottom: 30px;
    text-align: center; }
    main .box-texto h3 .opciones {
      margin-left: 10%; }
    main .box-texto h3 .opciones2 {
      margin-left: 3%; }

/*SOBRE NOSOTROS*/
.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
  align-items: center;
  grid-template-areas: "main-sn box-imagen" "main-sn box-imagen";
  gap: 10px; }
  .container main {
    margin-left: 0;
    margin-right: 20px; }
    .container main .main-sn {
      grid-area: main-sn; }
    .container main .sobren {
      justify-content: center;
      margin-top: 10px;
      margin-bottom: 20px;
      margin-left: 5px;
      margin-right: 5px;
      align-items: center;
      text-align: justify; }
      .container main .sobren #parrafo1 {
        margin-top: 40px; }
      .container main .sobren #ultimo {
        margin-top: -5px; }
  .container section {
    margin: 0; }
    .container section .box-imagen {
      grid-area: box-imagen; }
    .container section .casa2 {
      width: 68%;
      height: 70%;
      position: relative;
      top: 50px;
      left: 50px;
      right: 20px; }

/*DESTINOS*/
main {
  justify-content: center;
  align-items: center;
  text-align: center; }
  main .main-titulo {
    width: 100%;
    margin-left: 50px;
    grid-area: main-titulo; }

.container2 {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: auto auto;
  justify-content: center;
  grid-template-areas: "section-uno section-dos"   "section-tres section-cuatro";
  gap: 10px; }
  .container2 section.destino {
    width: 330px;
    height: 270px;
    margin: 15px; }
  .container2 .section-uno {
    grid-area: section-uno; }
  .container2 .section-dos {
    grid-area: section-dos; }
  .container2 .section-tres {
    grid-area: section-tres; }
  .container2 .section-cuatro {
    grid-area: section-cuatro; }
  .container2 .destino-img {
    width: 330px;
    height: 270px;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 4px; }
  .container2 .subtitulo {
    margin-top: -35px;
    text-align: center;
    font-size: 24px;
    color: antiquewhite;
    text-shadow: 2px 2px 4px black; }

/*PROMOCIONES*/
main .promo {
  margin: 10px 35px;
  text-align: justify; }

main .card {
  margin-top: 40px; }
  main .card .card-title {
    margin-top: 120px; }
  main .card .card-text {
    margin-top: 10px; }
  main .card .card-img {
    width: 800px;
    height: 250px;
    object-fit: cover;
    cursor: pointer; }
  main .card .card-img:hover {
    transform: scale(1.02);
    transition: .5s; }

/*CONTACTO*/
fieldset {
  margin: 20px 420px;
  padding: 20px;
  width: 500px; }
  fieldset label {
    display: flex;
    align-items: flex-start; }
  fieldset input, fieldset textarea {
    width: 100%;
    padding: 5px;
    border-radius: 4px; }
  fieldset .boton {
    width: 50%;
    margin-top: 5px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    border-radius: 4px; }

.contacto {
  margin-left: -5px;
  text-align: center; }
  .contacto a {
    text-decoration: none;
    color: black; }
  .contacto .iconos {
    width: 2%;
    margin: 0;
    padding: 0; }

@media screen and (min-width: 320px) {
  header .logo {
    display: none; }
  footer {
    display: flex;
    justify-content: center;
    align-items: flex-end; }
  main .carousel {
    display: none; }
  main .casa:hover {
    box-shadow: none;
    transform: none; }
  main .card .card-img {
    width: 310px;
    height: 200px; }
  main .card .card-img:hover {
    transform: none;
    transition: none;
    box-shadow: none; }
  main fieldset {
    margin: 20px 10px;
    padding: 0;
    width: auto; }
  .container2 {
    display: grid;
    grid-template-columns: 1 auto;
    grid-template-rows: auto auto;
    grid-template-areas: "section-uno" "section-dos" "section-tres" "section-cuatro"; }
    .container2 .destino-img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 310px;
      height: 200px; }
  section .casa2 {
    display: none; } }

@media screen and (min-width: 600px) {
  header .logo {
    display: none; }
  main {
    display: flex;
    flex-direction: column;
    align-items: center; }
    main .card {
      display: flex;
      flex-direction: column;
      align-items: center; }
      main .card .card-img {
        width: 500px;
        height: 250px; }
  .container2 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .container2 .destino-img {
      width: 330px;
      height: 270px; }
  section .casa2 {
    display: none; } }
