/*INDEX*/

main{
    .slide{
        transition: 2s;
        div{
            .carousel-item{
                width: 1200px;
                height: 300px;
                margin-top: 10px; 
                margin-bottom: 15px;
                margin-left: 80px;
                justify-content: center;
                object-fit: cover;
            }
        }
    }
    .parrafo-home{
        margin: 10px 35px;
        text-align: justify;
    }
    .subtitulo-home{
        margin-top: 50px;
        text-align: center;
    }
    .box-imagen{
        display: flex;
        justify-content: center;
    }
    .casa{
        width: 400px;
        height: 300px;
        object-fit: cover;
        margin-top: 3%;
        margin-bottom: 0;
        margin-left: 3%;
        margin-right: 3%;
        cursor: pointer;  
        display: flex;
    }
    .casa:hover{
        transform: scale(1.05);
        transition: 0.3s;
        box-shadow: 0px 13px 30px -3px rgb(61, 60, 60);
    }
    .box-texto{
        margin-top: -4%;
        margin-right: 1%;
        margin-left: 2%;
        text-align: center;
        display: flex;
        justify-content: space-around;
       h3{
        margin-top: 70px;
        margin-bottom: 30px;
        text-align: center;
        .opciones{
            margin-left: 10%;
        }
        .opciones2{
            margin-left: 3%;
        }
        } 
    }
    
    
}